<br>
<div class="alert alert-secondary" role="alert">
    <a routerLink="/producto1" style="color: #7d7576;"><span><b>Producto 1:</b></span> Mostrar todos los productos</a>
</div>
<div class="alert alert-secondary" role="alert">
    <a routerLink="/producto2" style="color: #7d7576;"><span><b>Producto 2:</b></span> Seleccionar un producto por su
        posición o nombre</a>
</div>
<div class="alert alert-secondary" role="alert">
    <a routerLink="/producto3" style="color: #7d7576;"><span><b>Producto 3:</b></span> Tabla de productos, CRUD</a>
</div>