<h3 class="text-primary text-center">Lista de proveedores: </h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Componente</th>
            <th>Descripción</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proveedor of proveedores">
            <td>{{proveedor.id}}</td>
            <td>{{proveedor.nombre}}</td>
            <td>{{proveedor.sede}}</td>

            <td>
                <button class="btn btn-primary" routerLink="/proveedores/{{proveedor.id}}">Ver</button>
            </td>

            <td>
                <button class="btn btn-secondary" (click)="delete(proveedor.id)">Borrar</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="text-center">
    <button class="btn btn-success" routerLink="/addProveedor">Agregar</button>
</div>